@import "tailwindcss";

@theme {
  --color-beige: #f2efe9;
  --color-dark-beige: #d9d1c7;
  --color-dark-gray: #24211c;

  --color-primary: #8c694a;
  --color-secondary: #bfa89b;

  /* gradation */
  --color-orange-beige: #c9b29c;
  --color-yellow-beige: #c1ab93;
  --color-mocha-beige: #9e8c78;
  --color-mocha-brown: #756859;
  --color-yellow-brown: #4d443a;

  --font-accent: "DM Serif Text", serif;
}

:root {
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  background: #f2efe9;
  font-family: "Noto Sans", sans-serif;
  color: var(--color-dark-gray);
}

.no-scroll {
  overflow: hidden;
}
