@import "tailwindcss";

@theme {
  --color-beige: #f2efe9;
  --color-dark-beige: #d9d1c7;
  --color-dark-gray: #24211c;

  --color-primary: #8c694a;
  --color-secondary: #bfa89b;

  --font-accent: "DM Serif Text", serif;
}

body {
  background: #f2efe9;
  font-family: "Noto Sans", sans-serif;
}
